<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="google-site-verification" content="-IxmqKbBkSWGFjJj1-b4Zh5jFMeZHWwulXL4D5IyMsw" />

  <link rel="shortcut icon" href="/assets/favicon2.png" type="image/png" />
  <link rel="apple-touch-icon" sizes="64x64" href="/assets/favicon2.png" />

  <!-- Title and description ================================================== -->
  <title>
  {{ page.title }}
  </title>

  {% if page.description %}
  <meta name="description" content="{{ page.description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description | escape }}">
  <meta property="og:image" content="//{{ site.url }}/assets/logo.png">
  <meta property="og:image:secure_url" content="//{{ site.url }}/assets/logo.png">
  <meta property="og:url" content="{{ site.url }}{{ page.url | replace:'index.html',''}}">
  <meta property="og:site_name" content="Here One">

  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description | escape }}">

  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="#747474">

  <link rel="stylesheet" type="text/css" href="/css/hereone.css" />

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>

  <script src="/js/modernizr.min.js" type="text/javascript"></script>
  {% if page.handle == 'product' or page.handle == 'index' %}
    <script src="/js/jquery.cycle2.min.js" type="text/javascript"></script>
    <script src="/js/jquery.cycle2.swipe.min.js" type="text/javascript"></script>
  {% endif %}
  {% if page.handle == 'product' %}
    <script src="/js/jquery.cycle2.carousel.min.js" type="text/javascript"></script>
    <script src="/js/imagesloaded.pkgd.min.js" type="text/javascript"></script>
  {% endif %}



<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
  <script type="text/javascript" charset="utf-8">
//<![CDATA[
  jQuery.ajaxSetup({cache: false});
//]]>
</script>
</head>

<body id="{{ page.title | handle }}" class="template-{{ page.handle }}" >

  <div id="NavDrawer" class="drawer drawer--left">
    <!-- begin mobile-nav -->
    <ul class="mobile-nav">
      <li class="mobile-nav__item">
        <a href="/products/here-one" class="mobile-nav__link">Features   </a>
      </li>
      <li class="mobile-nav__item">
        <a href="/pages/accessibility" class="mobile-nav__link">Accessibility</a>
      </li>
    </ul>
    <!-- //mobile-nav -->
  </div>

  <header class="site-header" role="banner">
    <div class="wrapper-full">
      <div class="site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
        <a href="/" itemprop="url" class="site-header__logo-link" data-reactid="24">
          <svg class="svg-logo" viewBox="0 0 585.41 200.89" data-reactid="25"><title data-reactid="26">here-one</title><path d="M793,464.59a22,22,0,0,1,1.72-8.64,20.9,20.9,0,0,1,11.83-11.45,23.36,23.36,0,0,1,8.76-1.66,23.11,23.11,0,0,1,8.73,1.66,20.73,20.73,0,0,1,11.83,11.45,21.49,21.49,0,0,1,1.75,8.64,21.72,21.72,0,0,1-1.75,8.67,20.82,20.82,0,0,1-11.83,11.45,23.12,23.12,0,0,1-8.73,1.66,23.38,23.38,0,0,1-8.76-1.66,21,21,0,0,1-11.83-11.45A22.21,22.21,0,0,1,793,464.59Zm8.5,0c0,4.35,1.29,7.85,3.88,10.51a14.36,14.36,0,0,0,19.83,0,16,16,0,0,0,0-21,14.36,14.36,0,0,0-19.83,0C802.81,456.76,801.52,460.24,801.52,464.59Z" transform="translate(-349.58 -285.48)" data-reactid="27"></path><path d="M853.51,485.52V443.65h3.59l23,24.94V443.65h8.5v41.87H885l-23-24.94v24.94h-8.5Z" transform="translate(-349.58 -285.48)" data-reactid="28"></path><path d="M908.15,485.52V443.65h26.6v7.18h-18.1v9.58h17.46v7.18H916.65v10.74H935v7.18H908.15Z" transform="translate(-349.58 -285.48)" data-reactid="29"></path><path d="M349.58,443.65V292.06l24.68-6.58V348c8-10.49,21-16.87,35.38-16.87,27.15,0,42.78,20.16,42.78,46.49v66H427.74V380.92c0-19.33-10.49-31.47-26.74-31.47s-26.74,12.14-26.74,31.26v62.94H349.58Z" transform="translate(-349.58 -285.48)" data-reactid="30"></path><path d="M528.1,445.71c-32.7,0-56.15-22.42-56.15-57.39,0-33.53,23.24-57.18,55.95-57.18,32.5,0,53.68,23.65,53.68,55.12a54.19,54.19,0,0,1-.62,8.43H497c2.26,22.22,15.43,32.7,33.73,32.7,14.19,0,25.71-6.58,34.14-18.92l14,9.67C567.59,435.63,549.9,445.71,528.1,445.71Zm-30.85-67.47h58.82c-2.47-19.33-12.75-30-29.21-30C510.62,348.22,499.72,358.91,497.25,378.24Z" transform="translate(-349.58 -285.48)" data-reactid="31"></path><path d="M600.49,334.64a17,17,0,0,1,9.67-3.5c10.28,0,15.22,8.64,22.21,8.64s10.08-8.64,20.77-8.64a14.81,14.81,0,0,1,0,29.62c-11.11,0-13.78-8.64-20.77-8.64-4.11,0-7.2,2.47-7.2,9.05v82.48H600.49v-109Z" transform="translate(-349.58 -285.48)" data-reactid="32"></path><path d="M729.25,445.71c-32.7,0-56.15-22.42-56.15-57.39,0-33.53,23.24-57.18,55.95-57.18,32.5,0,53.68,23.65,53.68,55.12a54.19,54.19,0,0,1-.62,8.43H698.19c2.26,22.22,15.43,32.7,33.73,32.7,14.19,0,25.71-6.58,34.14-18.92l14,9.67C768.74,435.63,751,445.71,729.25,445.71Zm-30.85-67.47h58.82c-2.47-19.33-12.75-30-29.21-30C711.76,348.22,700.86,358.91,698.39,378.24Z" transform="translate(-349.58 -285.48)" data-reactid="33"></path></svg>
        </a>
      </div>
      <nav class="nav-bar large--left" role="navigation">
        <div class="medium-down--hide">
          <!-- begin site-nav -->
          <ul class="site-nav" id="AccessibleNav">
          <li>
            <a href="/products/here-one" class="site-nav__link">Features   </a>
          </li>
          <li>
            <a href="/pages/accessibility" class="site-nav__link">Accessibility</a>
          </li>
          </ul>
          <!-- //site-nav -->
        </div>
        <div class="large--hide medium-down--show mobile-icons">
          <button type="button" class="icon-fallback-text site-nav__link js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
            <svg class="open-icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="252px" height="252px" viewBox="0 0 252 252" enable-background="new 0 0 252 252" xml:space="preserve">
              <g>
                <defs>
                  <rect id="SVGID_1_" width="252" height="252"/>
                </defs>
                <clipPath id="SVGID_2_">
                  <use xlink:href="#SVGID_1_"  overflow="visible"/>
                </clipPath>
                <path clip-path="url(#SVGID_2_)" d="M80.088,92.54h99.5c6.436,0,6.445-10,0-10h-99.5C73.653,82.54,73.643,92.54,80.088,92.54"/>
                <path clip-path="url(#SVGID_2_)" d="M80.088,133.461h99.5c6.436,0,6.445-10,0-10h-99.5C73.653,123.461,73.643,133.461,80.088,133.461"/>
                <path clip-path="url(#SVGID_2_)" d="M80.088,174.383h69.918c6.435,0,6.445-10,0-10H80.088C73.653,164.383,73.643,174.383,80.088,174.383"/>
              </g>
            </svg>
            <svg class="close-icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="252px" height="252px" viewBox="0 0 252 252" enable-background="new 0 0 252 252" xml:space="preserve">
              <g>
                <defs>
                  <rect id="SVGID_1_" width="252" height="252"/>
                </defs>
                <clipPath id="SVGID_2_">
                  <use xlink:href="#SVGID_1_"  overflow="visible"/>
                </clipPath>
                <path clip-path="url(#SVGID_2_)" d="M167.166,159.938l-31.643-31.643l22.925-22.925c2.906-2.906,5.813-5.812,8.718-8.718c4.557-4.556-2.513-11.629-7.07-7.071c-10.548,10.548-21.096,21.095-31.644,31.643c-7.642-7.642-15.284-15.284-22.926-22.926c-2.905-2.905-5.811-5.811-8.717-8.717c-4.556-4.557-11.63,2.513-7.071,7.071l31.643,31.643l-22.926,22.925c-2.906,2.906-5.811,5.813-8.717,8.718c-4.557,4.557,2.513,11.63,7.071,7.071c10.548-10.548,21.095-21.095,31.643-31.643c7.643,7.642,15.284,15.284,22.925,22.926l8.719,8.717C164.651,171.567,171.725,164.497,167.166,159.938"/>
              </g>
            </svg>
            <span class="fallback-text">Menu</span>
          </button>
        </div>
      </nav>
      <div class="large--right large--text-right medium-down--hide">
        <nav class="button-menu left" role="navigation">
        </nav>
      </div>
    </div>
    {% if page.handle == 'product' %}
    <div class="submenu">
      <div class="wrapper-full">
        <ul>
          <li>
            <a href="#overview">Overview</a>
          </li>
          <li>
            <a href="#in-the-box">In the Box</a>
          </li>
          <li>
            <a href="#tech-specs">Tech Specs</a>
          </li>
        </ul>
      </div>
    </div>
    {% endif %}
  </header>

  <div id="PageContainer" class="is-moved-by-drawer">

    <main class="main-content" role="main">
