{% include header.liquid %}
<div class="gray-top-narrow">
  <article class="wrapper single-post" itemscope itemtype="http://schema.org/Article">
    <div class="grid">
      <div class="grid__item one-whole text-center">
        <h1>
          {{ page.title }}
        </h1>
      </div>

      {% if page.image %}
      <div class="grid__item one-whole featured_image">
        <img src="/assets/{{ page.image }}" alt="{{ page.title }}" width="387px" height="268px" />
      </div>
      {% endif %}
    </div>
    <div class="grid">
      <div class="grid__item xlarge-up--two-thirds push--xlarge-up--one-sixth large--three-quarters push--large--one-eighth rte" itemprop="articleBody">
        <time datetime="{{ page.published_at | date: '%Y-%m-%d' }}">{{ page.published_at | date:  '%B %-d, %Y' }}</time>
        <div class="rte">
          {{ page.content }}
        </div>
      </div>
    </div>
  </article>
</div>
{% include footer.liquid %}
